// ========================
// Colors
// ========================

$black: #000;
$white: #fff;
$dark-grey: #333333;
$background: #F4F4F4;
$brand-primary: #DD896E;
$brand-light: #F0E5DA;

// text
$text-primary: #3C3B42;
$text-subtle: #7E7C8A;
$text-highlighted-text: #ffffff;

//links:
$hyperlinks-unvisited: #3E5BB8;
$hyperlinks-unvisited-hover: #1B2A59;
$hyperlinks-visited: #9663C0;
$hyperlinks-visited-hover: #684783;






